:root {
  --grey-soft: #616161;
  --gret-medium: #8f8f8f;
  --gret-smoth: #b6b6b6;
  --grey-clear: #eeeeee;
  --box-shadow-main: 0px 3px 6px #00000029;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--grey-soft);
  box-sizing: 100vh;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

/* hearder */

header {
  height: 5vh;
  vertical-align: center;
}

header nav {
  display: flex;
  flex-direction: row-reverse;
  color: var(--grey-soft);
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: 12.5px;
  align-items: center;
}

.perfil {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.fa-th {
  font-size: 25px;
}

header nav ul li {
  margin: 0px 8px;
}

/* main section */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 275px;
  height: auto;
}

.search-form {
  margin-top: 30px;
}

.search-bar {
  width: 580px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #d8d6d6;
}

.search-bar:hover {
  box-shadow: var(--box-shadow-main);
}

.search-icons {
  position: relative;
  margin-top: -30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0px 18px;
  color: var(--gret-smoth);
}

.search-button {
  height: 35px;
  width: 140px;
  margin: 0px 12px;
  border: none;
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--gret-soft);
  background-color: var(--grey-clear);
}

.search-button:hover {
  background-color: #dadada;
  border: solid 1px var(--gret-smoth);
}

.search-location {
  font-size: 12px;
}

/* estilos del footer */

.footer {
  background-color: #f1f1f1;
  border: solid 1px #e9e9e9;
  height: 5vh;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0px 20px;
  font-size: 15px;
}

.footer,
.links {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  list-style: none;
}

.left {
  padding-left: 0px;=
}

.left li {
  margin-right: 20px;
}

.right li {
  margin-left: 20px;

}